.git
.editorconfig
.idea
.npmrc
.vscode
*.crt
*.key
*.pem
*.log
npm-debug.log
project.env
backup/*
coverage
dist/*
devops/version/
!dist/.gitkeep
logs/*
node_modules/
devops/version/
tmp
# nrp.yaml - since we can replace values with env vars
conf.d
conf.available
letsencrypt
.history
nrp-cli-darwin
nrp-cli-linux
*.tar.gz
squid.conf
dnsmasq.conf
nginx-config/cors-servers.conf
output/supervisord.conf
.venv
indexes
.DS_STORE